- places = [ 'mountain', 'ocean', 'forest', 'river', 'desert', 'jungle', 'beach', 'tropical', 'tundra', 'artic', 'lake', 'savanna' , 'snow' , 'grass' , 'taiga' , 'pond']
.content
	h1 What are your favorite places in nature?
	each val, index in places
		label= val			
			input(type="checkbox" id=val)
			